frontend/node_modules
frontend/node_modules/
frontend/node_modules/*
frontend/node_modules/
frontend/node_modules/.cache
frontend/node_modules/.cache/*
backend/__pycache__/
.DS_Store
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
backend/cache/